.imagem5 {
    background-image: url(https://static.portaldaindustria.com.br/portaldaindustria/noticias/media/imagem_plugin/shutterstock_uiHrlzJ.jpg);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.text-decorator-none {
    text-decoration: none;
}

.texto2{
    font-weight: bold !important;
}

.btnCancelar{
    margin-right: 20px !important;
}